body {
    background-image: url("image/fondo.jpg");
    font-family: 'Asap Condensed', sans-serif;
}
/* Seccion Home*/
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh; 
}
#logopic {
    width: 25vw;
}
/*Botones */  
#startPlay, #instructions, #guideExit, #exit, #playAgain, #backToMenu {
    background-color: #DD4C28;
    color: white;
    font-family: 'asap condensed', sans-serif;
    border: none;
}
#startPlay {
    width: 40vw;
    height: 20vh;
    border-radius: 30px;
    font-size: 7vw; 
}
#instructions {
    width: 20vw;
    height: 8vh;
    border-radius: 20px;
    font-size: 2vw;  
}
/* Seccion Instrucciones*/
#guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh; 
}
#instruccionspic {
    width: 65vw;
    margin-bottom: 3%;
}
#titleInstrucciones {
    font-size: 5vw;
    font-family: 'asap condensed', sans-serif;
    margin-right: 55%;  
}
#guideExit{
    width: 15vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 2vw;   
}
/*Sección Temas*/
#themes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh; 
}
#titleChooseTheme{
    font-size: 5vw;
    font-family: 'asap condensed', sans-serif;
}
#exit{
    width: 15vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 2vw; 
}
.themesButtons {
    display: flex;
    flex-direction: row;
}
.themesButtons img {
    margin-right: 2%;
    height: 45vh;
}
/*Sección Cartas*/
#game {
    display: flex;
    flex-direction: column;
}
.cards {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.cards img {
    height: 30vh;
    width: 15vw;
}
/*Sección Resultado*/
#resultsPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh; 
}
#congratulations {
   font-size: 5vw;
   font-family: 'asap condensed', sans-serif;
}
#playAgain, #backToMenu {
   width: 30vw;
   height: 15vh;
   border-radius: 30px;
   font-size: 4vw; 
}



